@model ElectronicInvoice.Models.InvoiceResult.QryWinningListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QryWinningList</title>
</head>
<body>
    <div>
        <h4>QryWinningListViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.msg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.msg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.invoYm)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.invoYm)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.superPrizeNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.superPrizeNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.spcPrizeNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.spcPrizeNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.spcPrizeNo2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.spcPrizeNo2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.spcPrizeNo3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.spcPrizeNo3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo9)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo9)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeNo10)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeNo10)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.superPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.superPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.spcPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.spcPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.secondPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.secondPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.thirdPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.thirdPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fourthPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fourthPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fifthPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fifthPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeAmt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeAmt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sixthPrizeNo6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sixthPrizeNo6)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
